<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <header class="header">
        <div class="wrapper header-wrapper">
            <div class="logo">
                <img src="" alt="">
            </div>
            <nav>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </nav>
            <div class="header_right">
            <!--     Добавить код для проверки на авторизацию   -->

            <!--     Добавить код на авторизацию   -->
            </div>
        </div>

    </header>
    {% block content %}
    {% endblock %}
</body>
</html>