<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'reguser/style/style.css' %}"/>
</head>
<body>
    <header class="header">
        <div class="wrapper header-wrapper">
            <div class="logo">
                <img src="" alt="">
            </div>
            <form role="search" method="get" id="searchform" action="{% url 'search' %}">
	        <input type="search" name="q" placeholder="поиск" required>
	        <button type="submit"><span class="ion-ios-search-strong"></span>Поиск</button>
            </form>
            <nav>
                <a href="{% url 'home' %}" class="link">Главная</a>
                <a href="#" class="link"></a>
                <a href="{% url 'profile' %}" class="link">Профиль</a>
            </nav>
            <div class="header_right">
            <!--     Добавить код для проверки на авторизацию   -->
            {% if request.user.username %}
            <!--     Добавить код на авторизацию   -->
                <a href="{% url 'logout' %}" class="link link-primary">Выход</a>
            {% else %}
                <a href="{% url 'reguser' %}" class="link">Регистрация</a>
                <a href="{% url 'login' %}" class="link link-primary">Вход</a>
            {% endif %}
        </div>
        </div>

    </header>
    {% block content %}
    {% endblock %}
</body>
</html>