<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'reguser/style/style.css' %}"/>
</head>
<body>
    <header class="header">
        <div class="wrapper header-wrapper">
            <div class="logo">
                <img src="" alt="">
            </div>
            <nav>
                <a href="" class="link"></a>
                <a href="" class="link"></a>
                <a href="" class="link"></a>
            </nav>
            <div class="header_right">
            <!--     Добавить код для проверки на авторизацию   -->

            <!--     Добавить код на авторизацию   -->
            </div>
        </div>

    </header>
    {% block content %}
    {% endblock %}
</body>
</html>